:root{
    --bakgrunn: #fff;
    --farge1: rgb(9, 75, 39);
    --farge2:  rgb(150, 73, 29);
    --popup-height: 75vh;
    --popup-width: 40vw;
}


.pop-upbox {

    /* min-height: 600px; */
    width: var(--popup-width);
    height: var(--popup-height);
    margin: 5vh auto;
    background-color: var(--bakgrunn);
    padding: 10px 50px 50px 50px;
    border: 2px solid #cbcbcb;
    border-radius: 10px;
}

.pop-upbox h1 {
    font-family: "sans-serif";
    background-color: var(--farge2);
    font-size: 50px;
    text-align: center;
    color: var(--farge1);
    padding: 2px 0px;
}

#score {
    color: var(--farge2);
    text-align: center;
    font-size: 25px;
}

.pop-upbox #question {
    font-family: "monospace";
    font-size: 25px;
    color: var(--farge2);
}

.buttons {
    height: 25vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1em;
    grid-template-areas: "sp1 sp2"
    "sp3 sp4";
    margin-top: 25px;
}

#btn0, #btn1, #btn2, #btn3 {
    background-color: var(--farge1);
    width: 250px;
    font-size: 20px;
    color: var(--farge2);
    border: 1px solid #1D3C6A;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
    border-radius: 10px;
}

#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
    cursor: pointer;
    background-color: var(--farge2);
    color: var(--farge1);
}

.btn:focus {
    outline: 0;
}

#progress {
    color: #2b2b2b;
    font-size: 18px;
}

.blur {
    -webkit-filter: blur(2px) hue-rotate(0deg);
    -moz-filter: blur(2px) hue-rotate(0deg);
    -o-filter: blur(2px) hue-rotate(0deg);
    -ms-filter: blur(2px) hue-rotate(0deg);
    filter: blur(2px) hue-rotate(0deg);
    animation: alarm 1s linear infinite;
}
@keyframes alarm {
    50% {
    background-color: #ff9191;
    }
}

.pop-up{
    position: absolute;
    top: 1vh;
    left: 0; 
    right: 0; 
}

.content{
    transition: 1s;
}